extends layout

block content
  h1= title
  p Welcome to #{title}

  p(id="result")

  script(src="/javascripts/kalle.js")
  script(src="/javascripts/objectvalues.js")
  script(src="/javascripts/jsondemo.js")
  script(src="/javascripts/apicall.js")